/* global */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
  height: 1000px; /* change to auto later */
 
}
.header-container {
    display: none;
}
.overlay {
    display: none;
}
.products-mobile {
  display: none;
}
.mobile-about {
  display: none;
}
.mobile-mission {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 50vh;
  margin: 4em 2em ;
}
.mobile-mission h1 {
font-size: 7vh;
  color: #F4CB2A;
}
.mobile-mission p {
  font-size: 2.5vh;
  line-height: 2em;
  color: #7F7F7F;
}
.order {
  width: 100%;
  height: 80vh;
  display: flex;
  background-color: #F4CB2A;
  padding: 1em;
}
.order-text {

  color: white;
  display: flex;
  flex-direction: column;
  text-align: left ;
  justify-content: space-evenly;
  align-items: flex-start;
}

.order-text h1 {
  font-size: 6vh;
}
.order-text p {
  font-size: 2.5vh;
}
.order-text a {
  font-size: 2.5vh;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: .5em 2.5em;
}
.order-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.order-image img {
width: 80%;
height: 100vh;
}

@media only screen and (max-width: 600px) { /* for small devices */
/* - =-=-=-=-=-=-=-=-=-=  FOR MOBILE NAVBAR =-=-=-=-=-=-=-=-=-=  */
/* The Overlay (background) */  
main {
    padding-top: 12vh;
}
  .overlay {
      display: block;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4CB2A;
    transition: 0.5s;
    overflow: auto;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay-content p {
margin-bottom: 2em;
  }
  .overlay a {
    
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .overlay-content a {
     
    padding: 1.3em .3em;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
    transition: 0.3s;
  }
  .social-media-icons-mobile {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      padding: 1.5em 2em;
  }
  .social-media-icons-mobile a img {
      height: 2em;
width: 2em;
  }
  
  
  .overlay a:hover, .overlay a:focus {
    font-size: 1.6em ;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /* shake effects for links */
  .overlay a:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  /* end of overlay css */
  .header-container {
    background-clip: padding-box; /* removes background under borders WOW */
      position: fixed;
      display: flex;
    background-color: #F4CB2A;
    width: 100%;
    height: 12vh;
    border: .3em solid #F2EFE5;
   
}
.header-container-logo {
    justify-content: center;
    align-items: center;
    float: left;
    width: 80%;
    height: 100%;
}
.header-container-logo img {
    margin-left: 15%;
height: 100%;
width: 5.5em;
}
.header-container-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
/* - =-=-=-=-=-=-=-=-=-= END FOR MOBILE NAVBAR =-=-=-=-=-=-=-=-=-=  */
.mobile-cover {
    height: 40vh;
    background-image: url("/img/cover.png");
    background-size: 100% 40vh;
    background-repeat: no-repeat;
}
.products-mobile {
  display: block;
  text-align: center;
    height: auto;
    width: 100%;
    padding: 2em;
}
.products-mobile h1 {
  color: #F4CB2A;
  margin-bottom: 1em;
}
.dot {
  cursor: pointer;
  height: .7em;
  width: 10px;
  margin: 1.3em 7px;
  background-color: #c7c4c4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #F4CB2A;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mobile-about {
  display: block;
  height: auto;
}
.mobile-about img {
 margin: -1.6em 0px;
height: 50vh;
width: 100%;
}
.order-image {
  display: none;
}
.order-text {
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  text-align: center ;
  justify-content: space-evenly;
  align-items: center;
}
.order-text a {
  
  font-weight: lighter;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: .5em 2.5em;
}
}



